.content_wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.content_wrap .air_tabs {

    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
    font-size: 1.4em;
}

.air_tabs li {
    margin-right: 20px;
}