.category {
    position: relative;
    width: 1900px;
    height: 1000px;
}

.textArea_c {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 40%;
}

.textArea_c img {
    width: 65px;
}

.textArea_c p {
    margin-left: 10px;
    margin-top: 25px;
    font-size: 30px;
}