.category {
    position: relative;
    width: 1900px;
    height: 1000px;
}

.textArea_c {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 750px;
}

.textArea_c img {
    position: absolute;
    top: 0px;
    left: 35px;
    width: 65px;
    height: 55px;
}

.textArea_c p {
    margin-left: 112px;
    margin-top: 25px;
    font-size: 30px;
}

.category_menu_box {
    width: 1500px;
    background: #555;
    display: flex;
    justify-content: center;
    align-items: center;
}

#category_menu {
    text-align: center;
    position: absolute;
    top: 99px;
    left: 233px;
    width: 1391px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.6px solid #999999;
    border-right: none;
}

#category_menu li.category_menu_tabbtn {
    width: 16.66666666666667%;
    height: 100%;
    border-right: 0.6px solid #999999;
    position: relative;

}

#category_menu li a {
    position: relative;

}

#category_menu a::after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 1em;
    background: #e5a248;

}

#category_menu #current a,
#category_menu #current a::after,
#category_menu #current p,
#category_menu #current a::after {
    background: #e5a248;
    z-index: 2;
    color: white;
    font-size: 20px;
    transition: 0.2s;
}

#category_menu a:hover,
#category_menu a:hover::after,
#category_menu a:focus,
#category_menu a:focus::after {
    background-color: rgba(217, 152, 50, 0.3);
    transition: 0.2s;
}

#category_menu a:focus {
    outline: 0;
}


#category_menu li.current:after {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #e5a248;
    content: " ";
    position: absolute;
    bottom: -15px;
    left: 43%;
    z-index: 1;
}

.category_menu_tabbtn .tabbtn_icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#category_menu li.category_menu_tabbtn a {
    width: 100%;
    height: 100%;
    display: block;
}

#category_menu li.category_menu_tabbtn p {
    margin-top: 15px;
    color: #2a2e30;
}



#category_content_box {
    position: absolute;
    top: 228px;
    width: 1900px;
    height: 750px;
    border-top: 1px solid #e5a248;
}

#category_content_box img {

    width: 100%;
    height: 100%;
}

.content_main {
    position: absolute;
    left: 48.8%;
    top: 53.5%;
    transform: translate(-50%, -50%);
    background: white;
    width: 1391px;
    height: 640px;
}

.close_box {
    position: absolute;
    top: 38px;
    right: 20px;
}

.close-container {
    position: relative;
    margin: auto;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.leftright {
    height: 4px;
    width: 50px;
    position: absolute;
    background-color: #e5a248;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
}

.rightleft {
    height: 4px;
    width: 50px;
    position: absolute;
    background-color: #e5a248;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
}

.close-container:hover .leftright {
    transform: rotate(-45deg);
    background-color: #2A2E30;
}

.close-container:hover .rightleft {
    transform: rotate(45deg);
    background-color: #2A2E30;
}

.close-container:hover label {
    opacity: 1;
}

.room {
    position: absolute;
    left: 50px;
    top: 100px;
    width: 700px;
    height: 550px;
}

.room .room_top {
    width: 100%;
    height: 133.3333333333333px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    z-index: -2;
    padding-left: 25px;
    border: 0.7px solid black;
    border-bottom: none;
}

.room .room_mid {
    font-size: 20px;
    width: 100%;
    height: 133.3333333333333px;
    border: 0.7px solid black;
    background: url('/images/calendar.png');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    padding-left: 25px;
    font-weight: 700;
    cursor: pointer;
}

.room .selectpicker {
    font-size: 20px;
    width: 100%;
    height: 133.3333333333333px;
    border: 0.7px solid black;
    border-top: none;
    font-weight: 700;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    appearance: none;
    outline: none;
    /* 기본 스타일 없애기 */
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none
}


.search_btn {
    font-size: 22px;
    margin-top: 25px;
    letter-spacing: 1px;
    float: right;
    color: white;
    padding: 25px 80px;
    background: #e5a248;

}

.search_btn:hover {
    background-color: rgba(217, 152, 50, 0.5);
    transition: 0.2s;
}