footer {
    width: 100%;
}

.foot_a {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    height: 310px;
    background: #2a2e30;
}

.foot_a h1 {
    padding-top: 30px;
    font-size: 3.5em;
}

.foot_a p {
    margin-top: 10px;
    font-size: 2em;
}

.foot_a .foot_txt_a {
    margin-top: 30px;
    margin-bottom: 10px;

}

.sns_link {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16%;
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
}

.sns_link img:hover {
    opacity: 0.6;
    transition: 0.2s;
}

.foot_b {
    text-align: center;
    width: 100%;
    height: 370px;
    background: #e5a248;
}

.foot_txt_b {
    padding-top: 50px;
    color: #2a2e30;
    font-size: 2.5vh;
}

.foot_txt_b p {
    margin-bottom: 5px;
}

.footer_logo {
    margin-top: 15px;
}

.foot_txt_c {
    padding-top: 5px;
    color: #2a2e30;
    font-size: 1.2em;
}

.foot_txt_c p {
    padding-top: 10px;
}