header {
    width: 375px;
}

nav {
    display: none;
}

.category {
    display: none;
}

.content {
    display: none;
}

hr {
    display: none;
}

.fixed_fix {
    height: 100px;
}

.logo {
    width: 100px;
    height: 100px;
    background: #2A2E30;
}

#svg_1 {
    width: 100px;
}

.mini_header {
    width: 100%;
    height: 100px;
    background: #e5a248;
}

.hamburger-button {
    position: absolute;
    transition: .3s ease-in-out;
    width: 40px;
    height: 30px;
    display: block;
    top: 2rem;
    right: 2rem;
    z-index: 100;
}

.hamburger-button span {
    position: absolute;
    height: 6px;
    border-radius: 4px;
    width: 100%;
    background-color: #2A2E30;
    top: 0;
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
}

.hamburger-button span:nth-child(1) {
    top: 0px;
}

.hamburger-button span:nth-child(2),
.hamburger-button span:nth-child(3) {
    top: 13px;
}

.hamburger-button span:nth-child(4) {
    top: 26px;
}

.hamburger-button.active span {
    background-color: #FFF;
}

.hamburger-button.active span:nth-child(1),
.hamburger-button.active span:nth-child(4) {
    opacity: 0;
}

.hamburger-button.active span:nth-child(2) {
    transform: rotate(45deg);
}

.hamburger-button.active span:nth-child(3) {
    transform: rotate(-45deg);
}

.cls-1 {
    isolation: isolate;
}

.cls-2 {
    fill: #70b0fc;
}

.cls-3,
.cls-5 {
    fill: #2b7ea3;
}

.cls-3,
.cls-6 {
    fill-rule: evenodd;
}

.cls-10,
.cls-3,
.cls-5 {
    opacity: 0.75;
}

.cls-4 {
    opacity: 0.7;
}

.cls-6,
.cls-7 {
    fill: #4b86b7;
}

.cls-12,
.cls-16,
.cls-8 {
    fill: #fff;
}

.cls-9 {
    fill: #d0f3fb;
}

.cls-10 {
    fill: #288199;
}

.cls-11 {
    fill: #f39c12;
}

.cls-12 {
    opacity: 0.2;
}

.cls-13 {
    fill: #eed9ca;
    mix-blend-mode: multiply;
}

.cls-14,
.cls-15 {
    fill: #efe59a;
}

.cls-14 {
    opacity: 0.25;
}

.cls-16,
.cls-17 {
    opacity: 0.5;
}

.svg_2 {
    display: block;

}

.svg_2 li {
    width: 100%;
    height: 100%;
}

.textArea {
    margin-top: 30px;
}


.textArea img {
    width: 25px;
    height: 40px;
}

.imagesArea {
    width: 96%;
}

.textColor {
    font-weight: 700;
    color: #e5a248;
}

.textArea p {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 20px;
}

.recommend {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}



.snip {
    width: 44%;
    height: auto;
}

.textArea_c {
    margin-top: 30px;
}

.textArea_c img {
    width: 45px;
    height: 40px;
}

.textArea_c p {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 20px;

}

.snip p {
    font-size: 13px;
}

#wheel {
    animation: wheel 15s linear infinite;
    transform-box: fill-box;
    transform-origin: center;
}

#sun {
    animation: bounce 3s linear infinite;
}

#cloud1 {
    animation: cloud 9s linear infinite;
}

#cloud2 {
    animation: cloud2 12s linear infinite;
}

#cloud3 {
    animation: cloud 7s linear infinite;
}

.plane {
    animation: plane 10s linear infinite;
}

footer {
    display: none;
}

@keyframes wheel {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-20px);
    }

}

@keyframes cloud {

    0%,
    100% {
        transform: translateX(0);

    }

    20% {
        transform: translateX(20px);
    }

    30% {
        transform: translateX(10px);

    }


}

@keyframes cloud2 {

    0%,
    100% {
        transform: translateX(0);

    }

    20% {
        transform: translateX(-20px);
    }

    30% {
        transform: translateX(-10px);

    }


}
@keyframes plane {
    0%,
    100%{
        transform: translateX(10px) translateY(10px);
    }
    50% {
        transform: translateX(20px) translateY(20px);
    }
}