.content {
    width: 1900px;
    height: 800px;
    position: relative;
}

.content video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.content>.video-pan-container>video {
    width: 150%;
    height: 150%;
    opacity: 0;
    transition: opacity .4s linear .6s;
    /*transition-property transition-duration transition-timing-function transition-delay*/
}

.content>.video-pan-container>video.loaded {
    opacity: 1;
}

.video-pan-container,
.video-pan-container>video {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.video-pan-container {
    position: relative;
    overflow: hidden;
    cursor: crosshair;
    height: 100%;
    width: 100%;
}

.video-pan-container>video {
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    position: absolute;
    top: 0;
    left: 0;
}

.tip {
    position: absolute;
    z-index: 11;
    color: white;
    top: 150px;
    left: 120px;
    cursor: pointer;
    opacity: 0;
}

.tip h1 {
    font-size: 60px;
}

.tip p {
    font-size: 25px;
}

.comment {
    position: absolute;
    top: 200px;
    padding: 15px 20px;
    background: #e5a248;
}

.comment:hover {
    transition: 0.2s;
    color: #2A2E30;
}

.tip>div {
    margin-top: 30px;
}


.tip2 {
    position: absolute;
    z-index: 11;
    color: white;
    top: 50%;
    left: 50%;
    cursor: pointer;
    opacity: 0;
}

.tip div,
.tip2 div {
    display: none;
    overflow: hidden;
}


@media (max-width: 992px) {
    .content {
        height: 50%;
    }

    .content>.video-pan-container>video {
        width: 259%;
    }
}

.lt0 {
    fill: #D99832;
}